In [26]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
from scipy.stats import norm

In [14]:
# Load the dataset
df=pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
unitA=pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
35       NaN
36       NaN
37       NaN
38       NaN
39       NaN
40       NaN
41       NaN
42       NaN
43       NaN
44       NaN
45       NaN
46       NaN
47       NaN
48       NaN
49       NaN
50       NaN
Name: Unit A, dtype: float64

In [22]:
df.columns="UnitA","UnitB"
df.columns

Index(['UnitA', 'UnitB'], dtype='object')

In [34]:
df=df.dropna()

In [35]:
stats.shapiro(df.UnitB)

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

In [27]:
scipy.stats.levene(df.UnitA,df.UnitB)

LeveneResult(statistic=0.0, pvalue=1.0)

In [36]:
stats.shapiro(df.UnitA)

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

In [37]:
scipy.stats.ttest_ind(df.UnitA,df.UnitB)

Ttest_indResult(statistic=0.0, pvalue=1.0)