In [1]:
import pandas as pd
import scipy 
from scipy import stats

############ 2 sample T Test ##################

# Load the data
prom = pd.read_excel("D:\\upendra\\Data Science Training\\hypothesis testing\\Promotion.xlsx")
prom

     Interest Rate Waiver ($ spent)  Standard Promotion ($ spent)
0                           1989.10                       1272.25
1                           1808.38                       1250.38
2                           1153.75                       1474.78
3                           1745.64                       2064.89
4                           1008.24                       2030.87
..                              ...                           ...
245                         1730.41                       2047.49
246                          947.66                       1685.44
247                         1516.43                       1840.55
248                         1609.69                       1603.48
249                          918.35                       1475.98

[250 rows x 2 columns]

In [3]:
prom.columns = "InterestRateWaiver", "StandardPromotion"

In [4]:
prom

     InterestRateWaiver  StandardPromotion
0               1989.10            1272.25
1               1808.38            1250.38
2               1153.75            1474.78
3               1745.64            2064.89
4               1008.24            2030.87
..                  ...                ...
245             1730.41            2047.49
246              947.66            1685.44
247             1516.43            1840.55
248             1609.69            1603.48
249              918.35            1475.98

[250 rows x 2 columns]

In [5]:
# Normality Test
# Ho: y1 and y2 are normal
# Ha= y1 and y2 are not normaL
stats.shapiro(prom.InterestRateWaiver) # Shapiro Test

# since p-value >.05 so Null hypothesis will be considered Hence normal

ShapiroResult(statistic=0.9923660159111023, pvalue=0.22453102469444275)

In [7]:
stats.shapiro(prom.StandardPromotion)
# since p-value >.05 so Null hypothesis will be considered Hence normal

ShapiroResult(statistic=0.9919784665107727, pvalue=0.19155508279800415)

In [9]:
# Variance test
#HO: Variance are equal  #Ha:variances are not equal
scipy.stats.levene(prom.InterestRateWaiver, prom.StandardPromotion)

LeveneResult(statistic=1.1334674473666406, pvalue=0.2875528565130808)

In [10]:
# p-value = 0.287 > 0.05 so p high null fly => Equal variances
#H0:Ad promotion will not increase the purchases
#Ha: Ad promotion will  increase the purchases Hence go for promotion
# 2 Sample T test
scipy.stats.ttest_ind(prom.InterestRateWaiver, prom.StandardPromotion)

#since .02<.05 means alternate hypothesis will be considered HEnce ad promotion increased the purchases

Ttest_indResult(statistic=2.260425163136941, pvalue=0.02422584468584312)